body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.card {
    margin-top: 80px;
}

.btn-primary {
    width: 100%;
}

.alert {
    text-align: center;
}

.register-link {
    text-align: center;
    margin-top: 15px;
}

.navbar {
    padding-top: 0rem;   /* reduce top padding */
    padding-bottom: 0rem; /* reduce bottom padding */
}

.navbar-nav .nav-link {
    margin-right: 15px;
}

.dropdown-menu-end {
    right: 0;
    left: auto;
}
